@import "variables";
@import "mixins";

[data-focus='advanced-search'] {
    [data-focus="facet-container"] {
        [data-focus='facet-box'] {
            [data-focus='facet-box-body'] {
                [data-focus='facet'] {
                    [data-focus="facet-title"] {
                        h3 {
                            color: $secondary-text-color;
                        }
                    }
                    [data-focus='facet-data-list'] {
                        ul {
                            li:hover{
                                color: $accent-color;
                            }
                        }
                    }
                }
            }
        }
    }
    [data-focus="results-advanced-search"] {
        [data-focus="result-group"] {
            [data-focus="result-list"] {
                [data-focus="list-with-pagination"] {
                    [data-focus="list-with-toolbar"] {
                        [data-focus="list-component"] {
                            [data-focus="line-advanced-search"] {
                                [data-focus="line-component"] {
                                    [data-focus="line-component-data"] {
                                        cursor: pointer;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    [data-focus='result-container'] {
        [data-focus="group-container"] {
            h3 {
                span:nth-child(2) {
                    color: $secondary-text-color;
                    &:after {
                        content: ')';
                    }
                    &:before {
                        content: '(';
                    }
                }
            }
        }
    }
}
