@import "variables";

$panel-padding-sides:20px;

@-webkit-keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}
@keyframes running-progress {
    0% { margin-left: 0px; margin-right: 100%; }
    50% { margin-left: 25%; margin-right: 0%; }
    100% { margin-left: 100%; margin-right: 0; }
}

@mixin busy {
    &::after {
        content: '';
        position: absolute;
        top:0;
        left: 0;
        right:0;
        bottom: 0;
        background-color: transparent;
    }
    [data-focus="panel-content"] {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top:0;
            left: 0;
            right:0;
            bottom: 0;
            background-color: rgba(255, 255, 255, 0.73);
        }
    }
}

[data-focus='panel'] {
    border: 0;
    [data-focus='panel-title'] {
        display: flex;
        justify-content:space-between;
    }
    &[data-loading='true'] {
        @include busy;
    }
    &[data-saving='true'] {
        @include busy;
    }
}
